<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.autils.autils">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--js/java互调-->
        <activity android:name=".JsJavaActivity"/>
        <!--intent深浅拷贝测试-->
        <activity android:name=".testActivity"/>
        <!--GreenDao测试-->
        <activity android:name=".GreenDaoActivity"/>
        <!--下载实践-->
        <activity android:name=".DownloadActivity"/>
        <!--LeakCanary内存泄露测试-->
        <activity android:name=".leaktset.LeakActivity"/>

        
    </application>


    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>